/* FONTS */
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-size: 12px;
}

.heading {
  font-size: 40px;
  font-weight: 800;
}

/* .gradient {
  background-color: #d9d9d9;
  background-image: linear-gradient(45deg, #d9d9d9, #f6f2f2);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
} */

/* GENERIC CLASSES */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.glass-overlay {
  position: absolute;

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  z-index: 99;
}

.content-container {
  min-height: 40vh;
  min-width: 600px;
  max-width: 800px;
  margin: 10px 30px 0 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 6px 1px;
}

/* INPUT FIELD & ADD BUTTONS */
.input {
  height: 30px;
  width: 120px;
  padding: 4px;
  outline: none;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  border-right: 1px solid #fff;
  /* box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px; */
}

.add-button {
  height: 30px;
  box-shadow: none;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #fff;
}
.add-button:hover {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-left: 1px solid #fff;
  box-shadow: none;
}
.add-button:active {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-left: 1px solid #fff;
  box-shadow: none;
}
/* STORY */
.story-item {
  cursor: pointer;
  list-style: none;
}
